* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
.container {
    padding: 0 20%;
}
.from-top {
    position: relative;
    top: 10rem;
}
.head-section {
    background-color: #0F1A2C;
    width: 100%;
    height: 100%;
}
header {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo {
    font-weight: 500;
    font-size: 2.6em;
    padding: 10px;
    margin: 0 28px;
    align-self: center;
}
.logo1 {
    font-weight: 500;
    font-size: 1.3em;
    line-height: 30px;
    padding: 20px 10px;
    margin: 0 10vmin 0 0;
    text-transform: uppercase;
    /* width: 150px; */
    align-self: center;
}
.navbar {
    position: relative;
    top: 30px;
    display: flex;
    margin: auto;
    overflow: hidden;
    background-color: white;
    width: 80vw;
    height: 90px;
    border-radius: 10px;
}

.nav-link {
    display: flex;
}
.navbar ul li {
    list-style: none;
    align-self: center;
    padding: 0 20px;
}
ul li a {
    text-decoration: none;
    color: black;
    padding: 28px 0;
}

.bg {
    background-image: url(img/skardu.jpg);
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-text {
    align-items: center;
}

.bg-text h3 {
    color: white;
    font-size: 20px;
}
.bg h1 {
    color: white;
    font-size: 10vmin;
    justify-self: center;
    font-weight: 500;
    width: 70vmin;
}
.buttons {
    margin-top: 50px;
}
.btn {
    text-decoration: none;
    color: white;
    font-size: 18px;
    background-color: #dda60d;
    padding: 12px 35px;
    border-radius: 6px;
}

.btn1 {
    text-decoration: none;
    color: white;
    font-size: 18px;
    border: 2px solid #dda60d;
    padding: 10px 35px;
    border-radius: 6px;
    margin: 0 30px;
}

.front {
    position: relative;
    top: 25%;
}


.bottom-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px 0;
}
.bottom-info .row input {
    cursor: pointer;
}
.row {
    margin: 25px 20px;
    color: white;
    align-self: center;
    padding: 0 0%;
}

/* .row a {
    font-weight: 500;
    text-decoration: underline;
} */
.row h3 {
    margin: 1.5vmin 0;
    font-size: 14px;
}
.row p {
    font-size: 12px;
    margin: 1.5vmin 0;
    width: 100%;
    text-decoration: underline;
    text-underline-offset: 16px;
    text-decoration-color: rgba(255, 255, 255, 0.295);
}
#btns {
    font-size: 17px;
    height: 100%;
    margin: 0 10vmin;
}


/* ----------- Dicover ----------- */
.discover {
    display: flex;
    width: 100%;
    height: 100%;   
    justify-content: center;
    margin-top: 8vmin;
}
.boxes {
    display: flex;
    justify-content: center;
    margin-left: 70px;
}
.box-text {
    width: 11rem;
    height: 13.45rem;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.box-text h3 {
    font-size: 1.3rem;
    margin: 14px 0;
}
.box-text p {
    font-size: 0.7rem;
}
#first-box {
    color: black;
    background-color: white;
}
#second-box {
    color: white;
    background-color: #0F1A2C;
}
.h3-p {
    position: relative;
    top: 2.5em;
}

.boxes img {
    width: 12.1rem;
    padding: 10px;
}
.box1 {
    position: relative;
    top: 20px;
}
.boxes-text {
    margin: 50px 70px;
    place-self: center;
    width: 20rem;
}
.boxes-text h1 {
    font-size: 3rem;
    margin: 15px 0;
}
.boxes-text h4 {
    color: rgb(168, 168, 168);
}
.boxes-text p {
    font-size: 13px;
    width: 19rem;
    margin: 10px 0;
}
.boxes-text a {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

/* ---------- Video Section ----------- */
.video-sec {
    background-image: url(img/video-sec-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    justify-content: center;
}
.video-sec .boxes-text {
    width: 23rem;
    height: 20rem;
}
.video-sec .vid {
    width: 30%;
    height: auto;
    align-self: center;
}
.vid video{
    width: 100%;
    height: auto;
}

/* ---------- Core Features ----------- */
.facilities {   
    padding: 50px 0;

}
.facilities h3 {
    text-transform: uppercase;
    color: rgb(102, 102, 102);
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}
.facilities h1 {
    font-size: 3rem;
    text-align: center;
}
.features {
    display: grid;
    margin: 4rem 0;
    justify-content: center;
    padding: 0 20vmin;
    grid-template-columns: repeat(3, 0.2fr);
    column-gap: 10vw;
}

.facilities .cards {
    display: grid;
    width: 140%;
    margin: 30px 0;
    padding: 0 2vmin;
}
.facilities #card-pics {
  transition: 0.5s ease;
}
.facilities .card-img img {
    width: 3.5rem;
}
.facilities .card-text h2 {
    font-size: 22px;
    margin: 1rem 0;
}
.facilities .card-text p {
    font-size: 14px;  
    text-align: justify;
}
.cards:hover #card-pics {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  cursor: pointer;
}


/* -------- News Feed --------- */
.about-heading {
    text-align: center;
    margin-bottom: 40px;
}
.news {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: center;
}
.news-image {
    width: 19.56rem;
    padding: 2px;
}
.news-image img {
    width: 100%;
}
.news-text {
    width: 20rem;
    padding: 25px;
}
.full-news {
    width: 91%;
    margin: 0 12px;
    transition: 0.2s linear;
}
.news-text p {
    font-size: 14px;
    color: rgb(102, 102, 102);
}
.news-text h3 {
    font-size: 18px;
    margin: 10px 0;
}
.news-p .admin {
    display: block;
    float: right;
    margin-left: 18vmin;
}
.news-p {
    display: flex;
}


.full-news:hover {
    background-color: #0F1A2C;
    color: white;
    cursor: pointer;
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.5);
}


/* ------------------ Footer ------------------- */
.foot {
    background-color: #0F1A2C;
    /* padding: 0 50vmin; */
    display: flex;
    height: 100%;
    justify-content: center;
}
.all-footer-content {
    /* padding: 0 50vmin; */
    display: flex;
    /* height: 80vh; */
    justify-content: center;
}
.left-side {
    margin: 0 20px;
}
.social-media-icons {
    width: 100%;
    display: flex;
}
.social-media-icons .hlogos {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: white;
    margin: 0 2px;
}
.social-media-icons .hlogos:hover {
    background-color: #dda60d;
    cursor: pointer;
}
.social-media-icons .s-media {
    width: 50px;
    padding: 16px;
}
.social-media-icons .s-media:hover {
    filter: brightness(5);
}
.social-media-icons img {
    width: 18px;
}
.F-logo h1 {
    color: white;
    background-color: #F9AD08;
    width: 5rem;
    height: 5rem;
    font-weight: 500;
    font-size: 2.2rem;
    padding: 1rem 1.6rem;
}
.F-logo {
    display: flex;
}
.F-logo h2 {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.2rem;
    align-self: center;
    margin: 0 30px;
}
.F-text {
    width: 15rem;
    color: rgb(204, 204, 204);
    font-size: 14px;
    margin: 30px 0;
    line-height: 22px;
}
.services {
    margin: 0 50px;
}

.service-text {
    height: 100%;
    margin: 0 80px;
}
.services h2{
    color: white;
    margin-bottom: 15px;
    font-size: 22px;
}
.services ul li {
    color: rgb(172, 172, 172);
    line-height: 40px;
    width: 150%;
    font-size: 14px;
    /* position: relative;
    left: 20px; */
    cursor: pointer;
}
.services ul li:hover{
    color: white;
}
.services ul {
    -webkit-column-gap: 90px; 
    -webkit-column-count: 2;
}


.F-contact{
    color: white;
}
.F-contact h2 {
    font-size: 22px;
}
.contact-item {
    margin-top: 30px;
    margin-bottom: 38px;
    display: flex;
}

.F-contact-items h3 {
    font-size: 16px;
}
.F-contact-items p {
    font-size: 13px;
    color: rgb(172, 172, 172);
    margin: 5px 0;
    /* border-bottom: 1px solid white; */
}
.contact-img {
    width: 30px;
    align-self: center;
    margin: 0 18px;
}
.contact-img img {
    width: 100%;
}

.footer-top {
    margin: 5rem 0;
}